Source: ros-indigo-rc-cloud-accumulator
Section: misc
Priority: extra
Maintainer: Felix Endres <felix.endres@roboception.de>
Build-Depends: debhelper (>= 9.0.0), libpcl-1.7-all-dev, ros-indigo-catkin, ros-indigo-geometry-msgs, ros-indigo-nav-msgs, ros-indigo-pcl-ros, ros-indigo-roscpp, ros-indigo-std-srvs, ros-indigo-tf2, ros-indigo-tf2-msgs, ros-indigo-tf2-ros
Homepage: 
Standards-Version: 3.9.2

Package: ros-indigo-rc-cloud-accumulator
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libpcl-1.7-all-dev, ros-indigo-geometry-msgs, ros-indigo-nav-msgs, ros-indigo-pcl-ros, ros-indigo-roscpp, ros-indigo-std-srvs, ros-indigo-tf2, ros-indigo-tf2-msgs, ros-indigo-tf2-ros
Description: A viewer for the SLAM component of roboception based on ROS and PCL
