Source: ros-melodic-rc-cloud-accumulator
Section: misc
Priority: extra
Maintainer: Felix Endres <felix.endres@roboception.de>
Build-Depends: debhelper (>= 9.0.0), libpcl-dev, libvtk6-qt-dev, ros-melodic-catkin, ros-melodic-geometry-msgs, ros-melodic-nav-msgs, ros-melodic-pcl-ros, ros-melodic-roscpp, ros-melodic-std-srvs, ros-melodic-tf2, ros-melodic-tf2-msgs, ros-melodic-tf2-ros
Homepage: https://wiki.ros.org/rc_cloud_accumulator
Standards-Version: 3.9.2

Package: ros-melodic-rc-cloud-accumulator
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libpcl-dev, libvtk6-qt-dev, ros-melodic-geometry-msgs, ros-melodic-nav-msgs, ros-melodic-pcl-ros, ros-melodic-roscpp, ros-melodic-std-srvs, ros-melodic-tf2, ros-melodic-tf2-msgs, ros-melodic-tf2-ros
Description: A viewer for the SLAM component of roboception based on ROS and PCL
